# generally ignored files
Thumbs.db
*.bak
*.log
*.log.*
*.lastrun

/.idea/
/.lando.local.yml
/build/cache/
/build/reports/
/composer.lock
/data/
/index.php
/tests/*.suite.yml
/tests/_envs/local.yml
/tests/_output/*
/tests/_support/_generated/*
/vendor/
